<% content_for :title, "Predict #{@page_title}" %>

<h1>predict_class</h1>

<div class="res_document"> <%= "予測結果：#{@res_class}" %> </div>

<div class="img_center"> <%= image_tag "#{params[:acc]}.png" %> </div>

<p class="document"> <%= auto_link('分類情報に関しての参考URL https://www.ncbi.nlm.nih.gov/taxonomy/') %> </p>

<h3 class="document"> <%= link_to '戻る', root_path, class: "btn btn-primary" %> </h3>