h1 {
    text-align:center;
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
  }

.top {
    text-align:center;
    /* font-size: 30px; */
    padding: 0.5em;/*文字周りの余白*/
    color: #010101;/*文字色*/
    background: #eaf3ff;/*背景色*/
    border-bottom: solid 3px #516ab6;/*下線*/
}

.document {
    text-align:center;
}

.res_document {
    text-align:center;
    margin: 50px;
    font-size: 30px;
}

.forms {
    text-align:center;
    margin : 30px ;
    padding : 20px ;
    /* border : 5px solid maroon ; */
    /* background-color : lightgreen ; */
}

.database_search_forms {
    text-align:center;
    margin : 70px 10px 10px 10px;
    border-top: solid;
    padding : 20px ;
}

/* input[type="text"] {
    width: 500px;
    height: 40px;
}

input[type="password"] {
    width: 500px;
    height: 40px;
} */

th,td {
    padding: 5px;      /* 余白指定 */
}

.organism_name {
    width: 600px;
}
 
table {
    margin:auto;
    border-collapse:  collapse; /* セルの線を重ねる */
}

/*ページネーション自体のデザイン*/
.pagination {
    margin: 20px auto 0;
    /* width: 50%; */
    display: flex;
    justify-content: center;
}

.pagination>li>a { 
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }
  
/* 表示しているページ番号のデザイン */

.pagination>.active>a {     
    /* background: #93c9ff;     背景の色を変える */
    border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
    border-radius: 15px;    /*角を丸くする*/
}

/*ブロックを並列に置く*/
.container {
    display: flex; /* 要素をフレックスコンテナにする */
    flex-wrap: wrap;
    justify-content: space-between; /* 要素を左右に均等に配置する */
    align-items: center; /* 要素を垂直方向に中央揃えにする */
}
  
.block {
    flex: 1; /* 要素の幅を均等にする */
    min-height: 500px;
    /*height: 100px; /* 要素の高さを指定する */
    border: 1px solid black; /* ボーダーを追加する */
    text-align: center; /* 中央揃えにする */
    margin: 0 10px; /* 左右に余白をつける */ 
}

.img_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.database_show {
    text-align: center;
    margin : 20px 10px 100px 10px;
}

/* チェックボックスの体裁 */
.checkbox-group {
    display: flex;
    justify-content: center;
  }
  
.checkbox-item {
    margin-right: 10px;
  }


.user_create {
    padding: 50px;
}

.user_create_btn {
    margin: auto;
}

.login_form {
    padding: 50px;
}